<div>
    <form action="/artist-search" method="GET">
        <fieldset>
            {{!-- <legend>Form using <b>GET</b>:</legend> --}}
            <input type="search" name="artistName" placeholder="Search for an Artist...">
            <button type="submit">Search</button>
        </fieldset>
    </form>
</div>
